/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #4A4A4A; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

/* Task Manager Container */
.taskManagerContainer {
    width: 50%; 
    background: #FFFFFF; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
}

/* Heading */
.taskManagerContainer h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #A294F9; 
    text-align: center;
}

.taskManagerContainer div{
    text-align: center;
}
/* Input Field */
.taskManagerContainer input {
    width: 55%; 
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #CDC1FF;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background: #E5D9F2; 
    color: #4A4A4A; 
    transition: all 0.3s ease-in-out;
}

.taskManagerContainer input:focus {
    border-color: #A294F9; 
    box-shadow: 0 0 5px #A294F9;
}

/* Button */
.taskManagerContainer button {
    background: #A294F9;
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    width: 35%px; /* Button width */
}

.taskManagerContainer button:hover {
    background: #CDC1FF; 
    color: #A294F9; 
}

/* Task List */
.taskManagerContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.taskManagerContainer ul li {
    background: #E5D9F2;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.taskManagerContainer ul li span {
    font-size: 1rem;
    color: #4A4A4A;
}

/* Task Buttons */
.taskManagerContainer ul li button {
    background: #b8abec;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.taskManagerContainer ul li button:hover {
    background: #A294F9; 
    color: #FFFFFF; 
}
